podSecurityContext:
  runAsUser: 1000
  runAsGroup: 3000
  fsGroup: 2000
  runAsNonRoot: true
  seccompProfile:
      type: RuntimeDefault

service:
  type: ClusterIP
  port: 8080

serviceAccount:
  create: false

livenessProbe:
  httpGet:
    path: /metrics
    port: 8080
  initialDelaySeconds: 10
  timeoutSeconds: 60
  periodSeconds: 10
  successThreshold: 1
  failureThreshold: 15
readinessProbe:
  httpGet:
    path: /metrics
    port: 8080
  initialDelaySeconds: 10
  timeoutSeconds: 60
  periodSeconds: 10
  successThreshold: 1
  failureThreshold: 15
